{% extends 'dashboard/base.html' %} {% block content %} {% include 'dashboard/snippets/menu_user.html' %} {% include 'dashboard/snippets/menu.html' %}
<div class="content">
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-auto">
                    <!-- Page pre-title -->
                    <div class="page-pretitle">
                       Welcome to TIZWA website
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-deck row-cards">

        </div>
    </div>
</div>
{% endblock content %}
