{% extends 'dashboard/base.html' %} {% block content %} {% include 'dashboard/snippets/menu_user.html' %} {% include 'dashboard/snippets/menu.html' %}

<div class="content">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-6">
                <form class='card' method="post">{% csrf_token %}

                    <div class="card-header">
                        <h4 class="card-title">New intervention</h4>
                    </div>

                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label" for="component">Composante du Module</label>
                            <select class="form-select" id="component" name="component">                                
                                <option value={{syllabus.subelement1}}>{{syllabus.subelement1}}</option>
                                {% if syllabus.subelement2 %}
                                <option value={{syllabus.subelement2}}>{{syllabus.subelement2}}</option>
                                {% endif %}
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="kind">Type de l'intervention</label>
                            <select class="form-select" id="kind" name="kind">
                                <option value="Cours" selected>Cours</option>
                                <option value="TD">TD</option>
                                <option value="TP">TP</option>
                                <option value="Activités Pratiques">Activités Pratiques</option>
                                <option value="Travail Personnel">Travail Personnel</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="id_duration">Durée de l'intervention</label>
                            <input type="number" class="form-control" name="duration" id="id_duration">
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="professor">Professeur</label>
                            <select class="form-select" id="professor" name="professor">
                            {% for account in accounts %}
                                <option value={{account.email}}>{{account.first_name}} {{account.last_name}}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <a href="{% url 'accreditation:edit_syllabus' accreditation.name syllabus.name %}" class="btn btn-link link-secondary" data-dismiss="modal"> Cancel </a>
                        <button type="submit" class="submit-button btn btn-primary ml-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"/><line x1="12" y1="5" x2="12" y2="19" /><line x1="5" y1="12" x2="19" y2="12" /></svg>  Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}